* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #1C1C1C;
    --result-section: #1F2937;
    --header: #fff;
    --result-header: #fff;
    --result-text: #D2D2D2;
    --container: #525252;
    --light-bg-color: #FBF7EE;
}

html, body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--header);
    font-size: 16px;
}

body.light {
    background-color: var(--light-bg-color);
}

/* Toggle Secttion */
.container {
    background-color: var(--header);
    padding-top: 0.5rem;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

input:checked + label {
    background: #c0c0c0;
}

input:checked + label .fa-sun {
    transform: translateX(-43px) rotate(160deg);
    opacity: 0;
}

input:checked + label .fa-moon {
    opacity: 1;
    transform: translateX(0) rotate(0);
}

input:checked + label .ball {
    transform: translateX(40px);
    background: #222;
}
  
label {
    display: flex;
    width: 75px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    background: #222;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

label i {
    font-size: 18px;
}

label .fa-sun {
    color: gold;
    transition: 0.3s;
    opacity: 1;
}

label .fa-moon {
    color: #fff;
    transition: 0.3s;
    opacity: 0;
    transform: translateX(43px) rotate(250deg);
}

label .ball {
    display: none;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 5px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}
 

/* Main Screen*/
h1 {
    font-size: 4rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-top: 3rem;
}

.screen-section {
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

.screen-section > h1   {
    text-align: center;
    color: var(--header);
    padding-top: 2rem;
}

input {
    background-color: #ffffff00;
    border: none;
    width: 100%;
    margin-top: 2rem;
    display: block;
    margin : 3 auto;
    font-size: 6.09rem;
    text-align: center;
    color: var(--header);
    font-weight: 800;
}

::placeholder {
    color: var(--result-header);
}


/* Results Section */
.conversion-result .conversion-type    {
    color: var(--result-header);
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.conversion-result > p {
    color: var(--result-text);
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.length {
    margin-top: 1rem;
}

.volume {
    margin-top: 3rem;
}

.mass {
    margin-top: 3rem;
}

footer { 
    font-size: 1rem; 
    text-align: center; 
    margin: 7rem;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1024px) {
    p {
        line-height: 1.25rem;
    }

    h1  {
        line-height: 1.525rem;
        font-size: 1.375rem;
    }

    .screen-section > h1 {
        padding-top: 2rem;
    }
    .conversion-result > p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .conversion-result .conversion-type {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
}

